In [3]:
import numpy as np
import pandas as pd

In [4]:
mult_ind = pd.MultiIndex(levels=[['A', 'B', 'C'], ['left', 'right']],
                     codes=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])
df = pd.DataFrame(np.random.randn(6, 3), mult_ind, ['X', 'Y', 'Z'])

In [9]:
df.loc['C'].loc['left']

X    0.218051
Y   -0.126890
Z   -0.036281
Name: left, dtype: float64

In [10]:
df

                X         Y         Z
A left  -0.601151  1.436402  0.403185
  right  0.174696  0.622690  0.620107
B left  -1.016049  0.047345 -0.027852
  right  0.063746  0.312061 -0.005307
C left   0.218051 -0.126890 -0.036281
  right  0.617246  0.862029  0.385896

In [11]:
df.index.names

FrozenList([None, None])

In [12]:
df.index.names=['Points','Sides']

In [13]:
df

                     X         Y         Z
Points Sides
A      left  -0.601151  1.436402  0.403185
       right  0.174696  0.622690  0.620107
B      left  -1.016049  0.047345 -0.027852
       right  0.063746  0.312061 -0.005307
C      left   0.218051 -0.126890 -0.036281
       right  0.617246  0.862029  0.385896

In [19]:
df.xs('right', level='Sides')['Y']

Points
A    0.622690
B    0.312061
C    0.862029
Name: Y, dtype: float64